---
import Layout from "../layouts/Layout.astro";
import ChartApp from "../components/ChartApp.tsx";
import OknNavbar from "../components/OknNavbar.tsx";

const path = Astro.url.pathname;
---

<Layout title="OKN">
  <main class="flex flex-col items-center justify-center w-screen">
    <OknNavbar client:load path={path} />
    <ChartApp client:only="react" />
  </main>
</Layout>
